
$borderColor: #e0e0e0;
$backgroundColorDark: #2D2D2D;

$fontColorPrimary:#2D2D2D;

$fontColorGreen:#009688;

$sidebarWidth:250px;

body
{
  margin: 0;
  color: $fontColorPrimary;
  background-color: $backgroundColorDark;
}
.application{
   width: 100%;
   overflow-x: hidden;
   overflow-y: auto;
}

.header{
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid $borderColor;
}

.logo
{
  width:100%;
  cursor: default;
  font-size: 30px;
  color: #ffffff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.sidebar
{
  left: 0;
  width: $sidebarWidth;
  height: 100%;
  position: absolute;
  background-color: $backgroundColorDark;
  ul{
    padding: 0;
    width: 100%;
    border: none;
    list-style: none;
    text-align: left;

    li{
      padding: 0;
      width: 100%;

      a{
        cursor: pointer;
        color: #ffffff;
        display: block;
        height: 72px;
        width: 100%;
        padding-top: 20px;
        text-align: center;
        font-size: 18px;
        text-decoration: none;
        -moz-transition: 0.4s ease-out;
        -o-transition: 0.4s ease-out;
        -webkit-transition: 0.4s ease-out;
        transition: 0.4s ease-out;
      }

      a:hover{

        background-color:#009688;
      }

      a.active{
        background-color:#009688;
      }

    }
  }
}

.sectionContainer
{
  position: absolute;
  left: $sidebarWidth;
  right: 0px;
  height: 100%;
}

.section
{
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  background-color: #e0e0e0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.section-active{
  visibility: visible;
  z-index: 1;
}

.section.active{
  visibility: visible;
  z-index: 1;
}

.section-ontop {
  z-index: 999;
}


.sectionHeader
{
  position: absolute;
  left: 70px;
  color: $fontColorGreen;
  font-family: RobotoDraft;
  font-weight: 400;
}

/********************************* animations **************************************/

.section-scaleDown {
  -webkit-animation: scaleDown .7s ease both;
  animation: scaleDown .7s ease both;
}

.section-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}

/********************************* keyframes **************************************/

@-webkit-keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}



