
$borderColor: #e0e0e0;
$backgroundColor: #ffffff;

$fontColorPrimary:#4A4A4A;
$fontColorSecondary:#878787;
$fontColorRed:#EE5B3F;

$sidebarWidth:250px;

h1,h2
{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html, body, .myContainer {
  height: 100%;
  width: 100%;
}

body
{
  margin: 0;
  color: $fontColorPrimary;
  background-color: $backgroundColor;
  font-family: 'Open Sans', sans-serif;
}

.application{

  width: 100%;
}


.sectionHeaderLabel
{
  padding-top: 10px;
  font-size: 25px;

}



.menuItem
{
  padding: 0;
  width: 100%;

  .menuLabel{
    letter-spacing: 2.17px;
    cursor: pointer;
    color: $fontColorPrimary;
    display: block;
    width: 100%;
    padding-bottom: 15px;
    font-size: 16px;
    text-decoration: none;
    -moz-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;

    &:hover{

      color:$fontColorRed;
    }

    &.selected
    {
      color:$fontColorRed;
    }


  }

}


.section
{
  position: absolute;
  left: 0px;
  right: 20px;
  max-width: 1280px;
  top: 60px;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &.section-active{
    display: block;
    z-index: 1;
  }

}

.introGroup
{
  position:relative;
  padding-top:50px;
  padding-bottom:50px;

  .myPhoto {
    float: left;
    margin-left: 5px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;

  }

  span{
    position: relative;
    top: 10px;
  }

}

.subSection
{
  padding-top:30px;
  h1{
    font-size: 20px;
    padding-bottom: 15px;

  }
}


/*Classes for small screens*/
.hamburger
{
  cursor: pointer;
  position: fixed;
  padding-left: 10px;
  padding-top: 20px;
  z-index: 999;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


.myContainer {
  overflow-x: hidden;
  overflow-y: scroll;
}

.sectionContainerWrapper
{
  position: absolute;
  left:0;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;


  &.open
  {
    left: $sidebarWidth;
  }

  .sectionHeader
  {
    position: fixed;
    width: 100%;
    height: 55px;
    letter-spacing: 2.17px;
    border-bottom: 1px solid $borderColor;
    background-color: $backgroundColor;
    z-index:998;

    .sectionHeaderLabel
    {
      width: 100%;
      text-align: center;

    }

  }


}
.sidebarSmallScreen
{
  position: fixed;
  left: -$sidebarWidth;
  padding-top: 15px;
  padding-left: 70px;
  width: $sidebarWidth;
  height: 100%;
  background-color: $backgroundColor;
  z-index:998;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  &.open
  {
    left: 0;
  }


  .logo
  {
    cursor: default;
    width: 100%;
    letter-spacing: 2.17px;

    h1{
      font-size: 16px;
      padding-bottom: 7px;
    }

    h2{
      font-size: 12px;
      color: $fontColorSecondary;
    }
  }

  .menu
  {
    margin-top: 70px;
    padding: 0;
    width: 100%;
    border: none;
    list-style: none;
    text-align: left;
  }
}
.sectionContainerSmallScreen
{
  position: relative;
  left: 0;
  width: 100%;
  height:100%;
  .section
  {
    left: 20px;
  }

}


/*Classes for large screens*/

.sidebarLargeScreen
{
  left: 0;
  padding-top: 40px;
  padding-left: 40px;
  width: $sidebarWidth;
  height: 100%;
  position: absolute;
  background-color: $backgroundColor;
  z-index:998;

  .logo
  {
    cursor: default;
    width: 100%;
    letter-spacing: 3.17px;

    h1{
      font-size: 22px;
      padding-bottom: 7px;
    }

    h2{
      font-size: 18px;
      color: $fontColorSecondary;
    }
  }

  .menu
  {
    margin-top: 70px;
    padding: 0;
    width: 100%;
    border: none;
    list-style: none;
    text-align: left;
  }
}
.sectionContainerLargeScreen
{
  position: absolute;
  left: $sidebarWidth;
  right: 0;
  height:100%;
  overflow-y:scroll;

  .sectionHeader
  {
    width: 100%;
    padding-top: 40px;
    letter-spacing: 2.17px;
    background-color: $backgroundColor;
    z-index:998;

    .sectionHeaderLabel
    {
      font-size: 32px;
      padding-top: 0;
      margin-top: -5px;
      width: 100%;
      text-align: left;
    }

  }

  .section
  {
    top: 80px;
  }

}



/********************************* animations **************************************/

.section-scaleDown {
  -webkit-animation: scaleDown .7s ease both;
  animation: scaleDown .7s ease both;
}

.section-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}

/********************************* keyframes **************************************/

@-webkit-keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}



